<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ph.edu.mobapde.meditake.meditake">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_with_anti_aliasing"
        android:label="MediTake - Medicine Cabinet"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.AddMedicineActivity"
            android:label="@string/add_medicine"
            android:parentActivityName=".activity.MedicineListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MedicineListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ViewMedicineActivity"
            android:label="@string/view_medicine"
            android:parentActivityName=".activity.MedicineListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EditMedicineActivity"
            android:label="@string/edit_medicine_info"
            android:parentActivityName=".activity.ViewMedicineActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ScheduleListActivity"
            android:label="@string/title_activity_schedule_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AddScheduleActivity"
            android:label="@string/title_activity_add_schedule"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.WelcomeScreenActivity">

            <!-- INTENT FILTER NAME WILL ON -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DrinkMedicineActivity" />

        <receiver
            android:name=".service.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".service.AlarmService"
            android:exported="false" />

        <activity android:name=".activity.SettingsActivity" />
        <activity android:name=".activity.ColorChangeActivity"></activity>
    </application>

</manifest>